﻿<div>
    <div>
        <h3>{{movieCreate.title}}</h3>
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="input" ng-model="movieCreate.movieName">
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" name="input" ng-model="movieCreate.movieDescription">
            <button class="save" ng-click="movieCreate.save()">Save</button>
        </div>
        <div>

        </div>
        <div ng-show="movieCreate.isMovieAdded">
            <h3>Characters of {{movieCreate.movieName}} </h3>
            <div class="form-group">
                <label>Character</label>
                <input type="text" name="input" ng-model="movieCreate.characterName">
            </div>
            <div class="form-group">
                <label>Actor</label>
                <input type="text" name="input" ng-model="movieCreate.actorName">
                <button class="save" ng-click="movieCreate.add()">Add</button>
            </div>

            <table style="width: 500px">
                <thead>
                    <tr>
                        <td>Character</td>
                        <td>Actor</td>
                    </tr>
                </thead>
                <tbody>
                    <tr character-item character="character" ng-repeat="character in movieCreate.characterCollection | orderBy : 'charactor'"></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>