﻿<section>        
    <h3>{{movieDetail.movie.movieName}}</h3>
    <p>{{movieDetail.movie.movieDescription}}</p>
    <p>Rate: {{movieDetail.movie.rating}}</p>
    <!--<div movie-rate rate="3"></div>-->
    <div movie-rate rate="movieDetail.movie.rating"></div>
</section>