﻿<nav>
    <div class="add-movie"><a ui-sref="createMovie">Add Movie</a></div>
</nav>
<div movie-item movie="movie" ng-repeat="movie in movieList.movieCollection | orderBy : 'releaseDate': true"></div>