﻿
.save{
    margin-left:100px;
}

form-group1 input{
    float:left;    
}

form-group1 label{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 2px;
    font-weight:300;
    color: #333;
    height: 20px;
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: right;
    margin-right:100px;
    float:left;
}
table, th, td {
    border: 1px solid black;
}
table thead {
    text-align: center;
    font-weight:bold;
}
h3{
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    overflow: hidden;    
}

li {
    float: left;
}
.add-movie{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align:right;
}